:root {
    --letras-cor: hsl(193, 38%, 86%);
    --verde: hsl(150, 100%, 66%);
    --fundo-cartao: hsl(217, 19%, 38%);
    --dado-cor: hsl(217, 19%, 24%);
    --fundo-body: hsl(218, 23%, 16%);
}

html {
    height: 100%
}

body {
    background-color: var(--fundo-body);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-conselho {
    background-color: var(--dado-cor);
    height: 400px;
    width: 600px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    padding: 0 50px;
}

.conselho-id {
    color: var(--verde);
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 50px 0 40px 0;
}

.conselho-texto {
    color: var(--letras-cor);
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    height: 150px;
}

.botao {
    background-color: var(--verde);
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 100px;
    position: absolute;
    right: 45%;
    top: 365px;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-imagem {
    height: 50%;
    width: 50%;
}

.botao:hover {
    cursor: pointer;
    box-shadow: 0 0 20px var(--verde);
}   

.botao:active {
    background-color: hsla(150, 100%, 66%, 0.918);
} 